.auth-layout {
    min-height: 100vh;
    background: linear-gradient(135deg, #29335C 0%, #1a1f3d 100% );
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.auth-card {
    background: #f5f5f5;
    padding: 3rem 2.5rem;
    border-radius: 16px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}
.text-primary {
    color: #DB2B39 !important;
}