.btn-primary {
    background-color: #DB2B39 !important;
    border-color: #DB2B39 !important;
    font-weight: 600;
    padding: 0.75rem;
}

.btn-primary:hover {
    background-color: #c41f2f !important;
    border-color: #c41f2f !important;
}

.form-control:focus{
    border-color:#F3A712 !important;
    box-shadow: 0 0 0 0.2rem rgba(243, 167, 18, 0.25) !important;
}