.register-page {
  text-align: center;
}

.register-page h2 {
  font-weight: 800;
  font-size: 2.1rem;
  color: #29335C !important;
  line-height: 1.2;
}
.text-primary {
    color: #29335C !important;
}
.register-page p {
  font-size: 1.1rem;
}

.login-link a {
  color: #DB2B39 !important;
  font-weight: 600;
  text-decoration: none;
}

.login-link a:hover {
  color: #F3A712 !important;
  text-decoration: underline;
}