<div class="modal fade show d-block" tabindex="1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow-lg">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">{{isEdit ? 'Editar Usuario' : 'Nuevo Usuario'}}</h5>
                <button class="btn-close btn-close-white" (click)="close.emit()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                        <input class="form-control" formControlName="primerNombre" placeholder="Nombre">
                        </div>
                        <div class="col-md-6 mb-3">
                        <input class="form-control" formControlName="primerApellido" placeholder="Apellido">
                        </div>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" formControlName="userName" placeholder="Usuario">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="email" formControlName="email" placeholder="Email">
                    </div>
                    <div class="mb-3" *ngIf="!isEdit">
                        <input class="form-control" type="password" formControlName="password" placeholder="Contraseña">
                    </div>
                    <div class="mb-3">
                        <select class="form-select" formControlName="rol">
                        <option value="Cliente">Cliente</option>
                        <option value="Empleado">Empleado</option>
                        <option value="Admin">Admin</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-end gap-2">
                        <button type="button" class="btn btn-secondary" (click)="close.emit()">Cancelar</button>
                        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
                        {{ isEdit ? 'Guardar Cambios' : 'Crear Usuario' }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>