<div class="table-responsive">
    <table class="table table-hover align-middle">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Cantidad</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of inventarios">
                <td>{{ item.nombre }}</td>
                <td>{{ item.categoria }}</td>
                <td>{{ item.cantidad }}</td>
                <td>{{item.descripcion}}</td>

                <td>
                    <span class="badge" [class]="getEstadoBadge(item.estado)">
                        {{ item.estado }}
                    </span>
                </td>

                <button class="btn btn-sm btn-outline-primary me-2" (click)="onEdit(item)">
                    Editar
                </button>

                <button class="btn btn-sm btn-outline-danger" (click)="onDelete(item.idInventario)">
                    Eliminar
                </button>
            </tr>
        </tbody>
    </table>
</div>
