<!-- Grey with black text -->
<nav class="barrita navbar navbar-expand-sm navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Gym R & R</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="landing/about">Sobre Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="landing/contact">Contacto</a>
        </li>
        <li *ngIf="auth.isLoggedIn()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Acciones del sistema</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="suscripciones">Suscripciones</a></li>
            <li><a class="dropdown-item" href="actividades">Actividades</a></li>
            <li><a class="dropdown-item" href="inventario">Inventario</a></li>
            <li><a class="dropdown-item" href="users">Usuarios</a></li>
            <li><a class="dropdown-item" href="cargos">Cargos</a></li>
            <li><a class="dropdown-item" href="tiposuscripciones">Tipo Suscripciones</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex">
        <a *ngIf="!auth.isLoggedIn()" class="btn btn-secondary" href="auth/login">Iniciar sesion</a>
        <a *ngIf="!auth.isLoggedIn()" class="btn btn-success" href="auth/register">Registrarse</a>
        <a *ngIf="auth.isLoggedIn()" (click)="auth.logout()" class="btn btn-danger" href="" >Cerrar Sesion</a>
      </div>
    </div>
  </div>
</nav>
