.body{
  justify-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #313131;
  color: aliceblue;
}
.footer {
  justify-items: center;
  align-items: center;
  background-color: #29335C;
  width: 100%;
  color: aliceblue;
  min-height: 80hv;
  padding: 1rem;
}
