.table-dark { background-color: #29335C !important; }
.badge.bg-success { background-color: #F3A712 !important; color:
    #000 !important; }
.badge.bg-warning { background-color: #F3A712 !important; color:
     #000 !important; }
.badge.bg-danger { background-color: #DB2B39 !important; }
